# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Model files (we'll track these selectively)
*.pkl

# Virtual environments
venv/
env/

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini